.squares-canvas {
  width: 368px;
  height: 83px;
  border-radius: 15px;
  border: none;
  display: block;
  background: linear-gradient(
    90deg,
    #00a2ff,
    #00f2ff,
    /* #724bff, */ #00f2ff,
    #724bff
  );
  opacity: 1;
  filter: drop-shadow(
    /* 0 0 10px rgba(0, 255, 170, 0.3), */ 0 0 10px #00a2ff60
  );
  /* text-shadow: 0 0 5px rgba(92, 103, 255, 0.9), 0 0 10px rgba(92, 103, 255, 0.9); */
}
.squares-canvas:hover {
  /* transform: scale(1.2); */

  background: linear-gradient(50deg, #00c3ff55, #00c3ff57, #9258ff60);
  filter: blur(15px);
  opacity: 0.4;
}
