body {
  background-color: black;
}


/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 9px;
  height: 4px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark background */
  border-radius: 1px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6366f1,
    #9333ea
  ); /* purple-blue gradient */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00d0ff, #9333ea);
}
