/* From Uiverse.io by htwarriors108 */
.card1 {
  position: relative;
  width: 170px;
  height: 165px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.card1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(45deg, #00c3ff5d, #00c3ff75, #9258ff61); */
  background: none;
  border-radius: 1.2em;
  transition: 0.5s;
}
.card1:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.card1:hover .content {
  transform: scale(1.1);
  transition: 0.5s;
}
.card1 img {
  /* height: 70px;
  width: 70px; */
  transition: 0.5s;
}
.card1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, #00c3ff55, #00c3ff57, #9258ff60);
  filter: blur(15px);
  opacity: 0.4;
}

.card1 span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 1em;
}

.card1 span::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 15px;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(31 66 147 / 17%);
}

.card1 .content {
  position: relative;
  padding: 12px 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  /* align-items: flex-start; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .card1 {
    position: relative;
    width: 150px;
    height: 145px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  .content img {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 768px) {
  .card1 {
    position: relative;
    width: 130px;
    height: 125px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  .content img {
    height: 60px;
    width: 60px;
  }
  .content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .card1 {
    position: relative;
    width: 110px;
    height: 105px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  .content img {
    height: 50px;
    width: 50px;
  }
  .content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .card1 {
    position: relative;
    width: 100px;
    height: 95px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  .content img {
    height: 40px;
    width: 40px;
  }
  .content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .card1 {
    position: relative;
    width: 85px;
    height: 80px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
  .content img {
    height: 30px;
    width: 30px;
  }
  .content p {
    font-size: 13px;
    line-height: 10px;
  }
}
